Clean_old_tweets_Cloudant.json
[{"id":"3fbbcc87.90ae24","type":"tab","label":"Clean tweets Database","disabled":false,"info":""},{"id":"5311e356.2f756c","type":"inject","z":"3fbbcc87.90ae24","name":"","topic":"","payload":"Clean tweets","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":80,"wires":[["3bb24f85.0c1e5"]]},{"id":"3bb24f85.0c1e5","type":"cloudant in","z":"3fbbcc87.90ae24","name":"","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":260,"y":80,"wires":[["f683193c.4a8048"]]},{"id":"f683193c.4a8048","type":"function","z":"3fbbcc87.90ae24","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["f678b808.b552a8"]]},{"id":"4ae3d94.396cd28","type":"debug","z":"3fbbcc87.90ae24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":160,"wires":[]},{"id":"f678b808.b552a8","type":"split","z":"3fbbcc87.90ae24","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":700,"y":80,"wires":[["a57d70af.b19b5"]]},{"id":"a57d70af.b19b5","type":"function","z":"3fbbcc87.90ae24","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":140,"wires":[["4ae3d94.396cd28","bc81a5df.4c07f8"]]},{"id":"bc81a5df.4c07f8","type":"cloudant out","z":"3fbbcc87.90ae24","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":1160,"y":120,"wires":[]},{"id":"ee5c4def.52cc4","type":"comment","z":"3fbbcc87.90ae24","name":"Remove Old tweets from Database in regular intervals (in 1 hour)","info":"","x":250,"y":40,"wires":[]},{"id":"c33205f5.7579d8","type":"inject","z":"3fbbcc87.90ae24","name":"","topic":"","payload":"Clean tweets","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"3600","x":110,"y":420,"wires":[["c9e6f05b.c508b"]]},{"id":"2713f068.80e9a","type":"cloudant in","z":"3fbbcc87.90ae24","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":310,"y":240,"wires":[["40547d5e.01bfd4"]]},{"id":"c9e6f05b.c508b","type":"cloudant in","z":"3fbbcc87.90ae24","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":330,"y":420,"wires":[["c0feadd3.78b7a"]]},{"id":"40547d5e.01bfd4","type":"function","z":"3fbbcc87.90ae24","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["5715ed4f.b52a14"]]},{"id":"b0c7c873.393ba8","type":"debug","z":"3fbbcc87.90ae24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":320,"wires":[]},{"id":"5715ed4f.b52a14","type":"split","z":"3fbbcc87.90ae24","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":780,"y":240,"wires":[["aebfba93.2d18e8"]]},{"id":"aebfba93.2d18e8","type":"function","z":"3fbbcc87.90ae24","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":300,"wires":[["b0c7c873.393ba8","87ddd8fd.6809d8"]]},{"id":"87ddd8fd.6809d8","type":"cloudant out","z":"3fbbcc87.90ae24","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":1240,"y":280,"wires":[]},{"id":"c0feadd3.78b7a","type":"function","z":"3fbbcc87.90ae24","name":"Remove old tweets ","func":"old_tweets = [];\n\nfor (i=0;i<10;i++) {\nold_tweets.push(msg.payload[i]);\n}\n\nmsg.payload = old_tweets\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["7d5fffa4.5038c"]]},{"id":"6c47c857.5cf5e8","type":"debug","z":"3fbbcc87.90ae24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":500,"wires":[]},{"id":"7d5fffa4.5038c","type":"split","z":"3fbbcc87.90ae24","name":"split out individual documents","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":780,"y":420,"wires":[["cd00cbb8.64e8e8"]]},{"id":"cd00cbb8.64e8e8","type":"function","z":"3fbbcc87.90ae24","name":"Extract id and rev","func":"\nvar document = {_id: msg.payload._id, _rev: msg.payload._rev};\n\nmsg.payload = document;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":480,"wires":[["6c47c857.5cf5e8","b6f54c0d.9d4ac"]]},{"id":"b6f54c0d.9d4ac","type":"cloudant out","z":"3fbbcc87.90ae24","name":"Remove all documents ","cloudant":"3e78379c.80ddf8","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":false,"operation":"delete","x":1240,"y":460,"wires":[]},{"id":"a08adfb7.5e40c","type":"comment","z":"3fbbcc87.90ae24","name":"Remove Old tweets from Database in regular intervals (in 24 hour)","info":"","x":260,"y":200,"wires":[]},{"id":"dcedad95.477cc","type":"comment","z":"3fbbcc87.90ae24","name":"Remove Old tweets from Database in regular intervals (in 48 hour)","info":"","x":260,"y":380,"wires":[]},{"id":"d7f2010a.878ed","type":"inject","z":"3fbbcc87.90ae24","name":"","topic":"","payload":"Clean tweets","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"3600","x":110,"y":240,"wires":[["2713f068.80e9a"]]},{"id":"3e78379c.80ddf8","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"}]