TeamSMS_projectFlow_TwitterSentimentAnalysis.json
[{"id":"241b5d07.a8ec92","type":"tab","label":"Lockdown Dashboard","disabled":false,"info":""},{"id":"80f9d273.b9579","type":"switch","z":"241b5d07.a8ec92","name":"","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"eq","v":"Maharashtra, India","vt":"str"},{"t":"eq","v":"Tamil Nadu, India","vt":"str"},{"t":"eq","v":"Delhi, India","vt":"str"},{"t":"eq","v":"Gujarat, India","vt":"str"},{"t":"eq","v":"Uttar Pradesh, India","vt":"str"},{"t":"eq","v":"Karnataka, India","vt":"str"},{"t":"eq","v":"India","vt":"str"},{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"Bangalore","vt":"str"},{"t":"eq","v":"Chennai","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":290,"y":140,"wires":[["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"],["5cf70c2a.810d74"]]},{"id":"5cf70c2a.810d74","type":"function","z":"241b5d07.a8ec92","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":60,"wires":[["113ca99b.52f6f6"]]},{"id":"113ca99b.52f6f6","type":"sentiment","z":"241b5d07.a8ec92","name":"Sentiment of Tweets","property":"payload","x":520,"y":120,"wires":[["f258997f.33dbb8"]]},{"id":"f258997f.33dbb8","type":"switch","z":"241b5d07.a8ec92","name":"","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"eq","v":"Maharashtra, India","vt":"str"},{"t":"eq","v":"Tamil Nadu, India","vt":"str"},{"t":"eq","v":"Delhi, India","vt":"str"},{"t":"eq","v":"Gujarat, India","vt":"str"},{"t":"eq","v":"Uttar Pradesh, India","vt":"str"},{"t":"eq","v":"Karnataka, India","vt":"str"},{"t":"eq","v":"India","vt":"str"},{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"Bangalore","vt":"str"},{"t":"eq","v":"Chennai","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":530,"y":240,"wires":[["41054b45.810f04"],["41054b45.810f04"],["41054b45.810f04"],["41054b45.810f04"],["41054b45.810f04"],["41054b45.810f04"],["2b1baa06.4b30c6"],["dfa99432.615278"],["dfa99432.615278"],["dfa99432.615278"]]},{"id":"41054b45.810f04","type":"function","z":"241b5d07.a8ec92","name":"Insert States data in cloudant","func":"msg.payload = {\n    \n    \"tweet\":msg.tweet.text,\n    \"score\":msg.sentiment.score, \n    \"location\": msg.tweet.user.location\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["68a5d3b8.880a8c"]]},{"id":"68a5d3b8.880a8c","type":"cloudant out","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":1130,"y":80,"wires":[]},{"id":"2b1baa06.4b30c6","type":"delay","z":"241b5d07.a8ec92","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":240,"wires":[["9685b0f2.f2df7","782c8e35.c1179","255bb0f6.54798"]]},{"id":"3a864af3.359ed6","type":"ui_text","z":"241b5d07.a8ec92","group":"ef4df13a.e966a","order":1,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1230,"y":160,"wires":[]},{"id":"1bf4d815.b66b68","type":"ui_gauge","z":"241b5d07.a8ec92","name":"","group":"417a0515.181f6c","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":200,"wires":[]},{"id":"f435adaa.9a2a3","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"ef4df13a.e966a","order":2,"width":"0","height":"0","label":"Live Tweet Sentiment/ Hr","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1290,"y":240,"wires":[[]]},{"id":"9685b0f2.f2df7","type":"change","z":"241b5d07.a8ec92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":180,"wires":[["3a864af3.359ed6"]]},{"id":"782c8e35.c1179","type":"change","z":"241b5d07.a8ec92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":220,"wires":[["1bf4d815.b66b68","f435adaa.9a2a3"]]},{"id":"2865ab8e.715e54","type":"inject","z":"241b5d07.a8ec92","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":80,"y":580,"wires":[["ec6c9d78.5eb53"]]},{"id":"ec6c9d78.5eb53","type":"cloudant in","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"twitter_trial","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":250,"y":580,"wires":[["4db1c714.2375e8","f679dc74.08842","53e393d1.a4efbc","2f92a714.e1e228","199e9ca4.c4a313","600afeec.f8044"]]},{"id":"4db1c714.2375e8","type":"function","z":"241b5d07.a8ec92","name":"Maharashtra ","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Maharashtra = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Maharashtra, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nMaharashtra.push(pos, neg, neu);\n\nmsg = {payload:Maharashtra, topic: \"Maharashtra\" }\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["da5754f7.3a6568","27b8f761.94a588","9a4ea8cf.a89c98","32a92f33.2937d","8260bf5a.ce5e8","4de67bfb.118124","caef8a4a.045088"]]},{"id":"da5754f7.3a6568","type":"ui_text","z":"241b5d07.a8ec92","group":"b72f7c32.7a8ea","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1180,"y":520,"wires":[]},{"id":"27b8f761.94a588","type":"ui_text","z":"241b5d07.a8ec92","group":"b72f7c32.7a8ea","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1190,"y":560,"wires":[]},{"id":"9a4ea8cf.a89c98","type":"ui_text","z":"241b5d07.a8ec92","group":"b72f7c32.7a8ea","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1200,"y":600,"wires":[]},{"id":"b6655217.70417","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"b72f7c32.7a8ea","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2110,"y":540,"wires":[[]]},{"id":"1de1d864.768728","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1910,"y":540,"wires":[["b6655217.70417"]]},{"id":"32a92f33.2937d","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1490,"y":520,"wires":[["1de1d864.768728"]]},{"id":"8260bf5a.ce5e8","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1510,"y":560,"wires":[["1de1d864.768728"]]},{"id":"4de67bfb.118124","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1510,"y":600,"wires":[["1de1d864.768728"]]},{"id":"f679dc74.08842","type":"function","z":"241b5d07.a8ec92","name":"Tamil Nadu","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Tamil_Nadu = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Tamil Nadu, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nTamil_Nadu.push(pos, neg, neu);\n\nmsg = { payload: Tamil_Nadu, topic: \"Tamil_Nadu\" };\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":590,"y":600,"wires":[["65173033.675e5","8ae54b81.370ea8","c9197c4e.0dc6c","46f632bb.39436c","807ac33a.99de5","72e7c369.63bb4c","caef8a4a.045088"]]},{"id":"53e393d1.a4efbc","type":"function","z":"241b5d07.a8ec92","name":"Delhi","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Delhi= [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Delhi, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nDelhi.push(pos, neg, neu);\n\nmsg= { payload:Delhi, topic: \"Delhi\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["dd8f3c5e.46fb7","e0a4b69f.b79798","535002dd.a3dd5c","22f36790.145948","9a2161c3.b0ec7","841e167a.147ad8","caef8a4a.045088"]]},{"id":"2f92a714.e1e228","type":"function","z":"241b5d07.a8ec92","name":"Gujarat","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Gujarat = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Gujarat, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nGujarat.push(pos, neg, neu);\n\nmsg = { payload:Gujarat, topic:\"Gujarat\" }\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":620,"y":720,"wires":[["fed911c1.cdf97","4f944fd.7802eb","9e345cc8.8ab56","83bfc250.59373","2636833.a727f7c","5d841db9.546a34","caef8a4a.045088"]]},{"id":"65173033.675e5","type":"ui_text","z":"241b5d07.a8ec92","group":"d6587640.449048","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1180,"y":640,"wires":[]},{"id":"8ae54b81.370ea8","type":"ui_text","z":"241b5d07.a8ec92","group":"d6587640.449048","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1210,"y":680,"wires":[]},{"id":"c9197c4e.0dc6c","type":"ui_text","z":"241b5d07.a8ec92","group":"d6587640.449048","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1240,"y":720,"wires":[]},{"id":"4037f008.57941","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"d6587640.449048","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2150,"y":660,"wires":[[]]},{"id":"5b81d3a6.02b4fc","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1950,"y":660,"wires":[["4037f008.57941"]]},{"id":"46f632bb.39436c","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1530,"y":640,"wires":[["5b81d3a6.02b4fc"]]},{"id":"807ac33a.99de5","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1530,"y":680,"wires":[["5b81d3a6.02b4fc"]]},{"id":"72e7c369.63bb4c","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1550,"y":720,"wires":[["5b81d3a6.02b4fc"]]},{"id":"dd8f3c5e.46fb7","type":"ui_text","z":"241b5d07.a8ec92","group":"4463e04a.e5518","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1240,"y":760,"wires":[]},{"id":"e0a4b69f.b79798","type":"ui_text","z":"241b5d07.a8ec92","group":"4463e04a.e5518","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1250,"y":800,"wires":[]},{"id":"535002dd.a3dd5c","type":"ui_text","z":"241b5d07.a8ec92","group":"4463e04a.e5518","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1280,"y":840,"wires":[]},{"id":"bc1f0e20.1ba85","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"4463e04a.e5518","order":5,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2190,"y":780,"wires":[[]]},{"id":"5977bd6d.181484","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1990,"y":780,"wires":[["bc1f0e20.1ba85"]]},{"id":"22f36790.145948","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1590,"y":760,"wires":[["5977bd6d.181484"]]},{"id":"9a2161c3.b0ec7","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1590,"y":800,"wires":[["5977bd6d.181484"]]},{"id":"841e167a.147ad8","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1590,"y":840,"wires":[["5977bd6d.181484"]]},{"id":"fed911c1.cdf97","type":"ui_text","z":"241b5d07.a8ec92","group":"a6e74c6a.123f8","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1280,"y":880,"wires":[]},{"id":"4f944fd.7802eb","type":"ui_text","z":"241b5d07.a8ec92","group":"a6e74c6a.123f8","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1310,"y":920,"wires":[]},{"id":"9e345cc8.8ab56","type":"ui_text","z":"241b5d07.a8ec92","group":"a6e74c6a.123f8","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1320,"y":960,"wires":[]},{"id":"3cd9894c.ecdee6","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"a6e74c6a.123f8","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2150,"y":900,"wires":[[]]},{"id":"98886275.3344b","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1950,"y":900,"wires":[["3cd9894c.ecdee6"]]},{"id":"83bfc250.59373","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1530,"y":880,"wires":[["98886275.3344b"]]},{"id":"2636833.a727f7c","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1550,"y":920,"wires":[["98886275.3344b"]]},{"id":"5d841db9.546a34","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1550,"y":960,"wires":[["98886275.3344b"]]},{"id":"255bb0f6.54798","type":"function","z":"241b5d07.a8ec92","name":"Insert All Over India Tweets in cloudant","func":"msg.payload = {\n    \n    \"tweet\": msg.tweet.text,\n    \"sentiment_score\" : msg.sentiment.score\n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["42a1d541.3947bc"]]},{"id":"42a1d541.3947bc","type":"cloudant out","z":"241b5d07.a8ec92","name":"tweetdata","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":1260,"y":300,"wires":[]},{"id":"9061203b.7c317","type":"cloudant in","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":260,"y":1360,"wires":[["e8f38a74.7d3908"]]},{"id":"e8f38a74.7d3908","type":"function","z":"241b5d07.a8ec92","name":"Top recent Tweets","func":"var TableArray = [];\n\nfunction myemoji(emoji_val)\n{\n    var score=emoji_val;\n    var cnt=0;\n        if(score===0)\n        {\n            cnt=128528;\t\n        }\n        else if(score>0){\n            cnt=128525;\n        }\n        else if(score<0){\n            cnt=128531;\n        }\n        else{\n            cnt=128526;\n        }\n    return cnt;    \n}\n\nfor(var i=msg.payload.length-5;i<msg.payload.length;i++)\n{\n    var emoji_val=myemoji(msg.payload[i].sentiment_score);\n    var TableEntry = {\n      \"tweet\" : msg.payload[i].tweet ,\n      \"sentiment_score\" : msg.payload[i].sentiment_score, \n      \"emoji\": String.fromCodePoint(emoji_val)\n      };\n    TableArray.push(TableEntry);\n}\n\nmsg.payload = TableArray;\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":1360,"wires":[["c1ee3773.375458","6fc7660.bcc349c","1639fba3.417804"]]},{"id":"c1ee3773.375458","type":"debug","z":"241b5d07.a8ec92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":1400,"wires":[]},{"id":"6fc7660.bcc349c","type":"ui_table","z":"241b5d07.a8ec92","group":"647a6f0e.98ea1","name":"table","order":2,"width":"11","height":"9","columns":[{"field":"tweet","title":"Tweet","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sentiment_score","title":"sentiment","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"emoji","title":"Emoji","width":"","align":"center","formatter":"star","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":670,"y":1360,"wires":[]},{"id":"1639fba3.417804","type":"ui_template","z":"241b5d07.a8ec92","group":"647a6f0e.98ea1","name":"","order":3,"width":"11","height":"9","format":"<style>\ntable {\n    font-family: 'Arial';\n    border-collapse: collapse;\n    width: 100%;\n    height:60%;\n}\nth { font-size: 18px; color:gray;}\ntd {font-size: 16px;}\nth, td {\n    text-align: left;\n    padding: 8px;\n}\n\n\n</style>\n\n<table id=\"table\" border=\"3\">\n    <thead>\n      <tr class=\"w3-light-grey\">\n        <th><b>Top Recent Tweet</b></th> \n        <th><b>Sentiment Score</b></th>\n        <th>&#128540;</th>\n     </tr>\n     </thead>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\" ng-dblclick=\"sendRow(row)\">\n   <td ng-repeat=\"item in row\" class=\"numeric\" >{{item}}</td>\n </tr>\n </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":1440,"wires":[[]]},{"id":"4c831ab9.40bb24","type":"inject","z":"241b5d07.a8ec92","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":100,"y":1360,"wires":[["9061203b.7c317"]]},{"id":"5a3b7c01.a92524","type":"inject","z":"241b5d07.a8ec92","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":100,"y":1220,"wires":[["f21911c9.50df6"]]},{"id":"f21911c9.50df6","type":"cloudant in","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"tweetdata","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":300,"y":1220,"wires":[["cacbaec6.08629"]]},{"id":"cacbaec6.08629","type":"function","z":"241b5d07.a8ec92","name":"Extract tweets ","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar All_India = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].sentiment_score > 0)\n        pos++;\n    else if(msg.payload[i].sentiment_score<0)\n        neg++;\n    else\n        neu++;\n}\n\nAll_India.push(pos, neg, neu);\n\nmsg.payload = All_India;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1220,"wires":[["1c5a6849.f53bc8","ccec0c35.2e57d","d724a20f.4e379","374bc6d5.b23b3a","47c9f6bc.aaded8","fb86eff.651511"]]},{"id":"1c5a6849.f53bc8","type":"ui_text","z":"241b5d07.a8ec92","group":"c1a4a206.b21bc","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"row-center","x":820,"y":1240,"wires":[]},{"id":"ccec0c35.2e57d","type":"ui_text","z":"241b5d07.a8ec92","group":"c1a4a206.b21bc","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"row-center","x":850,"y":1280,"wires":[]},{"id":"d724a20f.4e379","type":"ui_text","z":"241b5d07.a8ec92","group":"c1a4a206.b21bc","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"row-center","x":840,"y":1320,"wires":[]},{"id":"704442d7.a97e2c","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"c2f82cce.8a6e","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1830,"y":1320,"wires":[[]]},{"id":"2d7b6915.0a3956","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1610,"y":1320,"wires":[["704442d7.a97e2c"]]},{"id":"374bc6d5.b23b3a","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1170,"y":1280,"wires":[["2d7b6915.0a3956"]]},{"id":"47c9f6bc.aaded8","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1170,"y":1320,"wires":[["2d7b6915.0a3956"]]},{"id":"fb86eff.651511","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1150,"y":1360,"wires":[["2d7b6915.0a3956"]]},{"id":"199e9ca4.c4a313","type":"function","z":"241b5d07.a8ec92","name":"Uttar Pradesh","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Uttar_Pradesh = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Uttar Pradesh, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nUttar_Pradesh.push(pos, neg, neu);\n\nmsg = { payload : Uttar_Pradesh, topic:\"Uttar_Pradesh\"};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":660,"y":800,"wires":[["d0330153.7e8c9","a2d8ba26.1f62a8","844added.be74a","3b04bea1.3f9db2","1cec6567.c32b4b","a09dd30f.4998a","caef8a4a.045088"]]},{"id":"600afeec.f8044","type":"function","z":"241b5d07.a8ec92","name":"Karnataka","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Karnataka = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Karnataka, India\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nKarnataka.push(pos, neg, neu);\n\nmsg = {payload:Karnataka, topic:\"Karnataka\"};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":610,"y":880,"wires":[["87474544.231c78","ffa15df9.59e88","949887d9.68adc8","d901dccb.07678","65e66839.8ecf98","bb6aae0f.5f1e7","caef8a4a.045088"]]},{"id":"d0330153.7e8c9","type":"ui_text","z":"241b5d07.a8ec92","group":"2b8d8c52.767874","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1280,"y":1000,"wires":[]},{"id":"a2d8ba26.1f62a8","type":"ui_text","z":"241b5d07.a8ec92","group":"2b8d8c52.767874","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1210,"y":1040,"wires":[]},{"id":"844added.be74a","type":"ui_text","z":"241b5d07.a8ec92","group":"2b8d8c52.767874","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1300,"y":1080,"wires":[]},{"id":"87474544.231c78","type":"ui_text","z":"241b5d07.a8ec92","group":"c99e5e42.0d767","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":1080,"y":1100,"wires":[]},{"id":"ffa15df9.59e88","type":"ui_text","z":"241b5d07.a8ec92","group":"c99e5e42.0d767","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":1130,"y":1140,"wires":[]},{"id":"949887d9.68adc8","type":"ui_text","z":"241b5d07.a8ec92","group":"c99e5e42.0d767","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":1140,"y":1180,"wires":[]},{"id":"3b04bea1.3f9db2","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1450,"y":1020,"wires":[["aeddc944.30ca88"]]},{"id":"1cec6567.c32b4b","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1470,"y":1060,"wires":[["aeddc944.30ca88"]]},{"id":"a09dd30f.4998a","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1490,"y":1100,"wires":[["aeddc944.30ca88"]]},{"id":"d901dccb.07678","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1350,"y":1140,"wires":[["b4076d1.9da289"]]},{"id":"65e66839.8ecf98","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1370,"y":1180,"wires":[["b4076d1.9da289"]]},{"id":"bb6aae0f.5f1e7","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1390,"y":1220,"wires":[["b4076d1.9da289"]]},{"id":"b458b4d5.f3e258","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"2b8d8c52.767874","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1910,"y":1060,"wires":[[]]},{"id":"aeddc944.30ca88","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1710,"y":1060,"wires":[["b458b4d5.f3e258"]]},{"id":"cdc9ffae.cb54a","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"c99e5e42.0d767","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1890,"y":1180,"wires":[[]]},{"id":"b4076d1.9da289","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1690,"y":1180,"wires":[["cdc9ffae.cb54a"]]},{"id":"dfa99432.615278","type":"function","z":"241b5d07.a8ec92","name":"Insert Cities data into Cloudant","func":"msg.payload = {\n    \n    \"tweet\":msg.tweet.text,\n    \"score\":msg.sentiment.score, \n    \"location\": msg.tweet.user.location\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":360,"wires":[["388e1dd9.969cd2"]]},{"id":"388e1dd9.969cd2","type":"cloudant out","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","payonly":true,"operation":"insert","x":1110,"y":400,"wires":[]},{"id":"52804f6b.fce9e","type":"inject","z":"241b5d07.a8ec92","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":100,"y":1560,"wires":[["7c48a62d.113a68"]]},{"id":"7c48a62d.113a68","type":"cloudant in","z":"241b5d07.a8ec92","name":"","cloudant":"","database":"cities_tweet_data","service":"node-red-fjtot-cloudant-1590483600805-17153","search":"_all_","design":"","index":"","x":310,"y":1560,"wires":[["8fec1142.b9f2e","3a128594.32838a","dd1d32d1.eadcb"]]},{"id":"8fec1142.b9f2e","type":"function","z":"241b5d07.a8ec92","name":"Mumbai","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Mumbai = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Mumbai\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nMumbai.push(pos, neg, neu);\n\nmsg = {payload: Mumbai, topic:\"Mumbai\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":1520,"wires":[["c4529d7.899516","7d96ad5a.202734","4453c46b.bc9c5c","d8f4a748.ed8eb8","a26777db.161668","3dbe808f.1d1c7","43de7e66.d597a"]]},{"id":"3a128594.32838a","type":"function","z":"241b5d07.a8ec92","name":"Bangalore","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Bangalore = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Bangalore\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nBangalore.push(pos, neg, neu);\n\nmsg = {payload:Bangalore, topic:\"Bangalore\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":610,"y":1600,"wires":[["c82d5be4.082ee8","5e5745a4.f4e0fc","dca29495.d4e158","e12196fe.0f3af8","a14608fc.119be8","221a26c5.d9178a","43de7e66.d597a"]]},{"id":"dd1d32d1.eadcb","type":"function","z":"241b5d07.a8ec92","name":"Chennai","func":"var pos = 0;\nvar neg = 0;\nvar neu = 0;\nvar Chennai = [];\n\nfor(var i = 0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].location == \"Chennai\")\n    {\n        if(msg.payload[i].score > 0)\n            pos++;\n        else if(msg.payload[i].score<0)\n            neg++;\n        else\n            neu++;\n    }\n}\n\nChennai.push(pos, neg, neu);\n\nmsg = {payload: Chennai, topic:\"Chennai\"}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":1680,"wires":[["995f4037.bc415","eb58115d.60763","97cfc9cb.f97368","f90a51a.8a045b","a4de1513.0421f8","d2e6ccf3.7d6c1","43de7e66.d597a"]]},{"id":"c4529d7.899516","type":"ui_text","z":"241b5d07.a8ec92","group":"5f276b7b.0a6934","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":900,"y":1460,"wires":[]},{"id":"7d96ad5a.202734","type":"ui_text","z":"241b5d07.a8ec92","group":"5f276b7b.0a6934","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":890,"y":1500,"wires":[]},{"id":"4453c46b.bc9c5c","type":"ui_text","z":"241b5d07.a8ec92","group":"5f276b7b.0a6934","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":880,"y":1540,"wires":[]},{"id":"c82d5be4.082ee8","type":"ui_text","z":"241b5d07.a8ec92","group":"1fbacd12.e7abf3","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":880,"y":1580,"wires":[]},{"id":"5e5745a4.f4e0fc","type":"ui_text","z":"241b5d07.a8ec92","group":"1fbacd12.e7abf3","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":910,"y":1620,"wires":[]},{"id":"dca29495.d4e158","type":"ui_text","z":"241b5d07.a8ec92","group":"1fbacd12.e7abf3","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":900,"y":1660,"wires":[]},{"id":"995f4037.bc415","type":"ui_text","z":"241b5d07.a8ec92","group":"30c42ce1.829154","order":3,"width":0,"height":0,"name":"","label":"Positive Count : ","format":"{{msg.payload[0]}}","layout":"col-center","x":860,"y":1700,"wires":[]},{"id":"eb58115d.60763","type":"ui_text","z":"241b5d07.a8ec92","group":"30c42ce1.829154","order":2,"width":0,"height":0,"name":"","label":"Negative Count : ","format":"{{msg.payload[1]}}","layout":"col-center","x":890,"y":1740,"wires":[]},{"id":"97cfc9cb.f97368","type":"ui_text","z":"241b5d07.a8ec92","group":"30c42ce1.829154","order":4,"width":0,"height":0,"name":"","label":"Neutral Count : ","format":"{{msg.payload[2]}}","layout":"col-center","x":880,"y":1780,"wires":[]},{"id":"d8f4a748.ed8eb8","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1150,"y":1460,"wires":[["75c50dc6.d70f54"]]},{"id":"a26777db.161668","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1150,"y":1500,"wires":[["75c50dc6.d70f54"]]},{"id":"3dbe808f.1d1c7","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1130,"y":1540,"wires":[["75c50dc6.d70f54"]]},{"id":"e12196fe.0f3af8","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1150,"y":1600,"wires":[["6332719b.efa29"]]},{"id":"a14608fc.119be8","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1150,"y":1640,"wires":[["6332719b.efa29"]]},{"id":"221a26c5.d9178a","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1130,"y":1680,"wires":[["6332719b.efa29"]]},{"id":"f90a51a.8a045b","type":"function","z":"241b5d07.a8ec92","name":"Pos","func":"var newMsg = {payload: msg.payload[0], topic:\"Positive Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1130,"y":1740,"wires":[["4ee09e40.d8bd2"]]},{"id":"a4de1513.0421f8","type":"function","z":"241b5d07.a8ec92","name":"Neg","func":"var newMsg = {payload: msg.payload[1], topic:\"Negative Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1130,"y":1780,"wires":[["4ee09e40.d8bd2"]]},{"id":"d2e6ccf3.7d6c1","type":"function","z":"241b5d07.a8ec92","name":"Neu","func":"var newMsg = {payload: msg.payload[2], topic:\"Neutral Count\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1110,"y":1820,"wires":[["4ee09e40.d8bd2"]]},{"id":"4405e065.35ff7","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"5f276b7b.0a6934","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#e56699","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1710,"y":1480,"wires":[[]]},{"id":"75c50dc6.d70f54","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1510,"y":1480,"wires":[["4405e065.35ff7"]]},{"id":"ebd2ebb4.386ae8","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"1fbacd12.e7abf3","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1690,"y":1640,"wires":[[]]},{"id":"6332719b.efa29","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1490,"y":1640,"wires":[["ebd2ebb4.386ae8"]]},{"id":"dc11648.b01d298","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"30c42ce1.829154","order":4,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#24c224","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1690,"y":1760,"wires":[[]]},{"id":"4ee09e40.d8bd2","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var positive = context.get(\"positive\") || 0 ;\nvar negative = context.get(\"negative\") || 0 ; \nvar neutral = context.get(\"neutral\") || 0;\n\nswitch (msg.topic){\n    case \"Positive Count\":\n        positive = msg.payload; //payload NOT paydoad  :)\n        context.set(\"positive\", positive); //store in context for next time \n        break;\n    case \"Negative Count\":\n        negative = msg.payload; //payload NOT paydoad  :)\n        context.set(\"negative\", negative); //store in context for next time \n        break;\n    case \"Neutral Count\":\n        neutral = msg.payload; //payload NOT paydoad  :)\n        context.set(\"neutral\", neutral); //store in context for next time \n        break;\n}\n\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[positive,negative,neutral]],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1490,"y":1760,"wires":[["dc11648.b01d298"]]},{"id":"19adfab5.fef865","type":"comment","z":"241b5d07.a8ec92","name":"Extracting twitter data for live sentiment analysis and storing it in cloudant","info":"","x":260,"y":20,"wires":[]},{"id":"367b8a9.5288376","type":"comment","z":"241b5d07.a8ec92","name":"States_tweet_data ","info":"","x":1150,"y":40,"wires":[]},{"id":"5c51c28d.daca1c","type":"comment","z":"241b5d07.a8ec92","name":"All India Tweets Data","info":"","x":1300,"y":340,"wires":[]},{"id":"8cd03da8.3fffd","type":"comment","z":"241b5d07.a8ec92","name":"Cities tweet data","info":"","x":1100,"y":440,"wires":[]},{"id":"73792748.7de6e8","type":"comment","z":"241b5d07.a8ec92","name":"Statewise Sentiment Analysis","info":"","x":120,"y":540,"wires":[]},{"id":"15e193d5.7c0c5c","type":"comment","z":"241b5d07.a8ec92","name":"All India Sentiment Analysis","info":"","x":140,"y":1180,"wires":[]},{"id":"848645c4.b8fde8","type":"comment","z":"241b5d07.a8ec92","name":"Top 5 recent Tweets","info":"","x":110,"y":1320,"wires":[]},{"id":"b5010249.18389","type":"comment","z":"241b5d07.a8ec92","name":"Cities tweet Sentiment Analysis","info":"","x":150,"y":1520,"wires":[]},{"id":"43de7e66.d597a","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var Mumbai = context.get(\"Mumbai\") || [] ;\nvar Bangalore =context.get(\"Bangalore\") || [] ; \nvar Chennai = context.get(\"Chennai\") || [];\n\nswitch (msg.topic){\n    case \"Mumbai\":\n        Mumbai = msg.payload; //payload NOT paydoad  :)//store in context for next time \n        context.set(\"Mumbai\", Mumbai);\n        break;\n    case \"Bangalore\":\n        Bangalore = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Bangalore\", Bangalore);\n        break;\n    case \"Chennai\":\n        Chennai = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Chennai\", Chennai);\n        break;\n}\n\nvar m={\n    \"series\":[\"Mumbai\", \"Bangalore\",\"Chennai\"],\n    \"data\":[Mumbai, Bangalore, Chennai],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\n\n\n/*\nvar m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\n*/\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":1690,"y":1580,"wires":[["add6230b.2c49"]]},{"id":"add6230b.2c49","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"2959286d.6d88e8","order":0,"width":"9","height":"12","label":"All 3 cities Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1940,"y":1620,"wires":[[]]},{"id":"caef8a4a.045088","type":"function","z":"241b5d07.a8ec92","name":"DataPrepare - Pie","func":"var Maharashtra = context.get(\"Maharashtra\") || [] ;\nvar Tamil_Nadu =context.get(\"Tamil_Nadu\") || [] ; \nvar Delhi = context.get(\"Delhi\") || [];\nvar Gujarat = context.get(\"Gujarat\") || [];\nvar Uttar_Pradesh = context.get(\"Uttar_Pradesh\") || [];\nvar Karnataka = context.get(\"Karnataka\") || [];\n\nswitch (msg.topic){\n    case \"Maharashtra\":\n        Maharashtra = msg.payload; //payload NOT paydoad  :)//store in context for next time \n        context.set(\"Maharashtra\",Maharashtra);\n        break;\n    case \"Tamil_Nadu\":\n        Tamil_Nadu = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Tamil_Nadu\", Tamil_Nadu);\n        break;\n    case \"Delhi\":\n        Delhi = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Delhi\", Delhi);\n        break;\n    case \"Gujarat\":\n        Gujarat = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Gujarat\", Gujarat);\n        break;\n    case \"Uttar_Pradesh\":\n        Uttar_Pradesh = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Uttar_Pradesh\", Uttar_Pradesh);\n        break;\n    case \"Karnataka\":\n        Karnataka = msg.payload; //payload NOT paydoad  :) //store in context for next time \n        context.set(\"Karnataka\", Karnataka);\n        break;\n}\n\nvar m={\n    \"series\":[\"Maharashtra\", \"Tamil_Nadu\",\"Delhi\", \"Gujarat\", \"Uttar_Pradesh\", \"Karnataka\"],\n    \"data\":[Maharashtra, Tamil_Nadu,Delhi, Gujarat, Uttar_Pradesh, Karnataka],\n    \"labels\":[\"Positive\",\"Negative\",\"Neutral\"]\n};\n\n\n/*\nvar m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\n*/\nreturn {payload:[m]};\n","outputs":1,"noerr":0,"x":2290,"y":840,"wires":[["d545bf65.23055"]]},{"id":"d545bf65.23055","type":"ui_chart","z":"241b5d07.a8ec92","name":"","group":"b0ffc16d.3020d","order":0,"width":"10","height":"12","label":"All 6 states Sentiments","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2540,"y":860,"wires":[[]]},{"id":"e1c3fbfc.f1be68","type":"twitter in","z":"241b5d07.a8ec92","twitter":"","tags":"lockdown, #lockdown","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":140,"wires":[["80f9d273.b9579"]]},{"id":"c8603dfa.0465f","type":"ui_template","z":"241b5d07.a8ec92","group":"32068358.0e46cc","name":"Home_img1","order":2,"width":"10","height":"8","format":"<html>\n<body>   \n<img src=\"https://static.dezeen.com/uploads/2020/03/the-spinoff-toby-morris-siouxsie-wiles-design-graphics-illustration-coronavirus_dezeen_1704_col_2.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":200,"wires":[[]]},{"id":"4d070ec9.fcb14","type":"ui_template","z":"241b5d07.a8ec92","group":"32068358.0e46cc","name":"Home_img2","order":3,"width":"10","height":"7","format":"<html>\n<body>   \n<img src=\"https://upload.wikimedia.org/wikipedia/commons/0/03/Covid-19-Breaking-bubbles-02.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":240,"wires":[[]]},{"id":"34cccb64.22a914","type":"ui_template","z":"241b5d07.a8ec92","group":"ef4df13a.e966a","name":"Background","order":4,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://images.unsplash.com/photo-1588781553983-474ccfee18bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":280,"wires":[[]]},{"id":"5afb9647.05e268","type":"ui_template","z":"241b5d07.a8ec92","group":"b72f7c32.7a8ea","name":"img_mh","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://i.pinimg.com/originals/08/d5/20/08d520815c1c4fcea8491ff50a4da813.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":60,"y":500,"wires":[[]]},{"id":"e2094718.9a5118","type":"ui_template","z":"241b5d07.a8ec92","group":"d6587640.449048","name":"img_TN","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://cdn.dribbble.com/users/3278455/screenshots/7104885/malayali_girl.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":500,"wires":[[]]},{"id":"a7eae03e.88ef6","type":"ui_template","z":"241b5d07.a8ec92","group":"4463e04a.e5518","name":"img_delhi","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://cdn.dribbble.com/users/654541/screenshots/2923478/white-house.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":400,"y":500,"wires":[[]]},{"id":"7f766675.ac50a8","type":"ui_template","z":"241b5d07.a8ec92","group":"a6e74c6a.123f8","name":"img_Gujrat","order":1,"width":"6","height":"5","format":"<html>\n<body>   \n<img src=\"https://i.pinimg.com/originals/08/d5/20/08d520815c1c4fcea8491ff50a4da813.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":570,"y":500,"wires":[[]]},{"id":"b1bd6ed2.914c2","type":"ui_template","z":"241b5d07.a8ec92","d":true,"group":"1431f72e.7db6c9","name":"img_2","order":1,"width":"10","height":"8","format":"<html>\n<body>   \n<img src=\"https://www.godfrey.com/-/media/godfrey/services/social-distancing/covid-19-marketing-strategy-525x350-p1.gif?la=en&&hasC502DF7443F6E8A2C5582DB86B0A66F1019A0D3E\" style=\"vertical-align:middle\" name=\"img\">\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":50,"y":460,"wires":[[]]},{"id":"a36cdedb.abf58","type":"ui_template","z":"241b5d07.a8ec92","group":"c211255.20c94d8","name":"img_up","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c48d549c-d420-46a7-acee-f02751601295/ddre5tr-87b271f3-a017-48a3-9a6d-29e5680021ab.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzQ4ZDU0OWMtZDQyMC00NmE3LWFjZWUtZjAyNzUxNjAxMjk1XC9kZHJlNXRyLTg3YjI3MWYzLWEwMTctNDhhMy05YTZkLTI5ZTU2ODAwMjFhYi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Fyvp8zoBm_3WstStGiaCa0Oj9kRvzg2iuTFMOcbIzac\" style=\"vertical-align:middle\">\n<style>\n    body{\n        height :100%;\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":500,"wires":[[]]},{"id":"8418452e.0fe078","type":"ui_template","z":"241b5d07.a8ec92","group":"773416de.d2cb38","name":"img_karnatak","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://www.moneytrans.eu/moneytransblog/wp-content/uploads/sites/10/2017/10/Diwali-gif-0.gif\" style=\"vertical-align:middle\">\n<style>\n    body{\n        height :100%;\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":500,"wires":[[]]},{"id":"5806d6ff.8cb648","type":"ui_template","z":"241b5d07.a8ec92","group":"5f276b7b.0a6934","name":"city_mumbai","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://thumbs.dreamstime.com/b/hindu-temple-flag-trees-hindu-small-temple-flag-trees-151501180.jpg\" style=\"vertical-align:middle\">\n\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":1600,"wires":[[]]},{"id":"6c073760.c78e18","type":"ui_template","z":"241b5d07.a8ec92","group":"1fbacd12.e7abf3","name":"city_banglore","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://s3-eu-west-1.amazonaws.com/ipsmedialibrary/wp-content/uploads/2019/04/30112528/hindu-temple-clipart-1.jpg\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":1640,"wires":[[]]},{"id":"3953681b.6bd3c8","type":"ui_template","z":"241b5d07.a8ec92","group":"30c42ce1.829154","name":"city_chennai","order":1,"width":"0","height":"0","format":"<html>\n<body>   \n<img src=\"https://thumbs.dreamstime.com/b/hindu-temple-flag-trees-hindu-small-temple-flag-trees-151501180.jpg\" style=\"vertical-align:middle\">\n<style>\n    body{\n        \n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":1680,"wires":[[]]},{"id":"7e487656.b9be98","type":"ui_template","z":"241b5d07.a8ec92","group":"709d7617.a00098","name":"citybackground","order":0,"width":0,"height":0,"format":"<html>\n    \n<style>\n    body {\n  background-image: url('https://thumbs.gfycat.com/TerrificLiquidAdmiralbutterfly-size_restricted.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n   \n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":1740,"wires":[[]]},{"id":"14ad54a8.58259b","type":"ui_template","z":"241b5d07.a8ec92","group":"8089503d.bd69a","name":"sakshi","order":1,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2016/12/user-experience-designers-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    sakshipophale01@gmail.com</center>\n</p>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":70,"y":2440,"wires":[[]]},{"id":"45ff765e.eec438","type":"comment","z":"241b5d07.a8ec92","name":"About us developer details","info":"","x":110,"y":2380,"wires":[]},{"id":"60e37c64.0208c4","type":"ui_template","z":"241b5d07.a8ec92","group":"3fd302a9.d1464e","name":"mansi","order":2,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2017/02/project-manager-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    shinde.mansi55@gmail.com</center>\n</p>\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":2440,"wires":[[]]},{"id":"278f8a05.ff95c6","type":"ui_template","z":"241b5d07.a8ec92","group":"3cbe1508.8b724a","name":"simran","order":2,"width":"6","height":"6","format":"<html>\n<body>   \n<img src=\"https://netbramha.com/wp-content/uploads/2016/12/user-experience-designers-openings.gif\" style=\"vertical-align:middle\">\n<p>\n    <center>\n    s_pun_m@yahoo.co.in</center>\n</p>\n<style>\n    body{\n        object-fit: cover;\n    }\n</style>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":2440,"wires":[[]]},{"id":"7442f666.e80478","type":"ui_template","z":"241b5d07.a8ec92","group":"f96605f4.1cc1b8","name":"Team SMS Bot","order":0,"width":"5","height":"4","format":"<html>\n<body>   \n\n<a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=b3259308-1853-43c7-9251-4ceeaedff6c2&serviceInstanceID=fc182fa9-74dc-4f3f-989d-ef3a934985ee\" \n  target=\"popup\" \n  onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=b3259308-1853-43c7-9251-4ceeaedff6c2&serviceInstanceID=fc182fa9-74dc-4f3f-989d-ef3a934985ee','popup','width=600,height=600'); return false;\">\n   <img src=\"https://i.pinimg.com/236x/7d/9b/1d/7d9b1d662b28cd365b33a01a3d0288e1--robot-logo-design-logo-robot.jpg\">\n</a>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":370,"y":280,"wires":[[]]},{"id":"6900dc76.3212f4","type":"ui_template","z":"241b5d07.a8ec92","group":"54a83123.8bddd","name":"About_Background","order":4,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://cdn.dribbble.com/users/861334/screenshots/3824904/office.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":490,"y":2440,"wires":[[]]},{"id":"b592bf51.eba53","type":"ui_template","z":"241b5d07.a8ec92","group":"403bbddc.ab8434","name":"By WHO","order":0,"width":"10","height":"10","format":"\n\n<a class=\"twitter-timeline\" href=\"https://twitter.com/WHO?ref_src=twsrc%5Etfw\">Tweets by WHO</a> <script async src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":2620,"wires":[[]]},{"id":"889658a8.801578","type":"ui_template","z":"241b5d07.a8ec92","group":"ffb285d6.425458","name":"By MOH","order":1,"width":"10","height":"10","format":"<a class=\"twitter-timeline\" href=\"https://twitter.com/MoHFW_INDIA?ref_src=twsrc%5Etfw\">Tweets by MoHFW_INDIA</a> <script async src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":2620,"wires":[[]]},{"id":"2ddaaa22.8ecc46","type":"ui_template","z":"241b5d07.a8ec92","group":"838b1678.8157f8","name":"About_Background","order":4,"width":0,"height":0,"format":"<html>\n<style>\n    body {\n  background-image: url('https://cdn.dribbble.com/users/861334/screenshots/3824904/office.gif');\n  background-repeat: no-repeat;\n  background-attachment: fixed;  \n  background-size: cover;\n    }\n    </style>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":2620,"wires":[[]]},{"id":"ef4df13a.e966a","type":"ui_group","z":"","name":"Live Tweets","tab":"e0e6d939.de0278","order":1,"disp":true,"width":"10","collapse":false},{"id":"417a0515.181f6c","type":"ui_group","z":"","name":"Tweet Sentiment Scoreboard","tab":"e0e6d939.de0278","order":4,"disp":true,"width":"10","collapse":false},{"id":"b72f7c32.7a8ea","type":"ui_group","z":"","name":"Maharashtra","tab":"ea4c1312.598fa","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6587640.449048","type":"ui_group","z":"","name":"Tamil Nadu","tab":"ea4c1312.598fa","order":3,"disp":true,"width":"6","collapse":false},{"id":"4463e04a.e5518","type":"ui_group","z":"","name":"Delhi","tab":"ea4c1312.598fa","order":4,"disp":true,"width":"6","collapse":false},{"id":"a6e74c6a.123f8","type":"ui_group","z":"","name":"Gujarat","tab":"ea4c1312.598fa","order":5,"disp":true,"width":"6","collapse":false},{"id":"647a6f0e.98ea1","type":"ui_group","z":"","name":"Top Recent Tweets","tab":"e0e6d939.de0278","order":3,"disp":true,"width":"12","collapse":false},{"id":"c1a4a206.b21bc","type":"ui_group","z":"","name":"Tweets Count","tab":"e0e6d939.de0278","order":5,"disp":true,"width":"6","collapse":false},{"id":"c2f82cce.8a6e","type":"ui_group","z":"","name":"Overall Sentiment","tab":"e0e6d939.de0278","order":6,"disp":true,"width":"6","collapse":false},{"id":"2b8d8c52.767874","type":"ui_group","z":"","name":"Uttar Pradesh","tab":"ea4c1312.598fa","order":7,"disp":true,"width":"6","collapse":false},{"id":"c99e5e42.0d767","type":"ui_group","z":"","name":"Karnataka","tab":"ea4c1312.598fa","order":9,"disp":true,"width":"6","collapse":false},{"id":"5f276b7b.0a6934","type":"ui_group","z":"","name":"Mumbai","tab":"a3c10553.33d318","order":2,"disp":true,"width":"6","collapse":false},{"id":"1fbacd12.e7abf3","type":"ui_group","z":"","name":"Bangalore","tab":"a3c10553.33d318","order":3,"disp":true,"width":"6","collapse":false},{"id":"30c42ce1.829154","type":"ui_group","z":"","name":"Chennai","tab":"a3c10553.33d318","order":4,"disp":true,"width":"6","collapse":false},{"id":"2959286d.6d88e8","type":"ui_group","z":"","name":"Cities","tab":"a3c10553.33d318","order":1,"disp":true,"width":"9","collapse":false},{"id":"b0ffc16d.3020d","type":"ui_group","z":"","name":"All 6 states","tab":"ea4c1312.598fa","order":1,"disp":true,"width":"10","collapse":false},{"id":"32068358.0e46cc","type":"ui_group","z":"","name":"Imgset","tab":"e0e6d939.de0278","order":2,"disp":false,"width":"10","collapse":false},{"id":"1431f72e.7db6c9","type":"ui_group","z":"","name":"Image","tab":"ea4c1312.598fa","order":6,"disp":false,"width":"10","collapse":false},{"id":"c211255.20c94d8","type":"ui_group","z":"","name":"up_side_img","tab":"ea4c1312.598fa","order":8,"disp":false,"width":"6","collapse":false},{"id":"773416de.d2cb38","type":"ui_group","z":"","name":"karnatak_side","tab":"ea4c1312.598fa","order":10,"disp":false,"width":"6","collapse":false},{"id":"709d7617.a00098","type":"ui_group","z":"","name":"city_backhround","tab":"a3c10553.33d318","order":5,"disp":false,"width":"1","collapse":false},{"id":"8089503d.bd69a","type":"ui_group","z":"","name":"Sakshi","tab":"71855e70.9f545","order":2,"disp":true,"width":"6","collapse":false},{"id":"3fd302a9.d1464e","type":"ui_group","z":"","name":"Mansi ","tab":"71855e70.9f545","order":3,"disp":true,"width":"6","collapse":false},{"id":"3cbe1508.8b724a","type":"ui_group","z":"","name":"Simran ","tab":"71855e70.9f545","order":4,"disp":true,"width":"6","collapse":false},{"id":"f96605f4.1cc1b8","type":"ui_group","z":"","name":"Team SMS Bot","tab":"e0e6d939.de0278","order":7,"disp":true,"width":"5","collapse":false},{"id":"54a83123.8bddd","type":"ui_group","z":"","name":"We are here to build better solution for you!","tab":"71855e70.9f545","order":1,"disp":false,"width":"1","collapse":false},{"id":"403bbddc.ab8434","type":"ui_group","z":"","name":"Updates by WHO","tab":"c8e1f835.82b258","order":2,"disp":true,"width":"10","collapse":false},{"id":"ffb285d6.425458","type":"ui_group","z":"","name":"Updates by Ministry of Health","tab":"c8e1f835.82b258","order":3,"disp":true,"width":"10","collapse":false},{"id":"838b1678.8157f8","type":"ui_group","z":"","name":"imp_update_background","tab":"c8e1f835.82b258","order":1,"disp":false,"width":"1","collapse":false},{"id":"e0e6d939.de0278","type":"ui_tab","z":"","name":"Tweet Scoreboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ea4c1312.598fa","type":"ui_tab","z":"","name":"Major States","icon":"camera","order":2,"disabled":false,"hidden":false},{"id":"a3c10553.33d318","type":"ui_tab","z":"","name":"Major Cities","icon":"map","order":3,"disabled":false,"hidden":false},{"id":"71855e70.9f545","type":"ui_tab","z":"","name":"AboutUs","icon":"mail","order":5,"disabled":false,"hidden":false},{"id":"c8e1f835.82b258","type":"ui_tab","z":"","name":"Important Updates","icon":"dashboard","order":4,"disabled":false,"hidden":false}]